{% extends 'base.html.twig' %}

{% block contentreservation %}
    {{ nombre_reservation }}
{% endblock %}
{% block content_message %}
{{     nombre_message }}
{% endblock %}

{% block content %}

    <div id="shopify-section-1580379262685" class="shopify-section index-section"><div data-section-id="1580379262685" data-section-type="section-slideshow-v2" style="  ">
            <div class="section-slideshow-v2">
                <div class="slick-side-h2">



                    <div class="itemv-slide-h2">
                        <div class="info-sideh2">
                            <div class="picture-slideshow">

                                <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/bg_slide38708.jpg?v=1580800436" class="img-responsive img_slideh2" alt="">

                            </div>

                            <div class="box-content">

                                <p class="mb-0" style="color:#8e8e8e;">NEW TREND</p>



                                <h3 class="title1" style="color:#333333;">Bestbike</h3>



                                <h3 class="title2" style="color:#333333;">Bicycles</h3>

                                <div class="box-button">

                                    <a class="button-shop-1580379262685-1580379262685-0" href="{{path('_affichage__products')}}" style="color:#fff; background-color:#222">
                                        Shop now
                                    </a>

                                </div>

                            </div>
                            <div class="picture_left">

                                <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/slide3.1b069.png?v=1580783642" class="img-responsive" alt="">

                            </div>
                        </div>
                    </div>



                    <div class="itemv-slide-h2">
                        <div class="info-sideh2">
                            <div class="picture-slideshow">

                                <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/bg_slide3.2eabe.jpg?v=1580802261" class="img-responsive img_slideh2" alt="">

                            </div>

                            <div class="box-content">

                                <p class="mb-0" style="color:#8e8e8e;">Bestbike  2020</p>



                                <h3 class="title1" style="color:#333333;">Bicycle</h3>



                                <h3 class="title2" style="color:#333333;">collection</h3>

                                <div class="box-button">

                                    <a class="button-shop-1580379262685-1580379262685-1" href="{{path('_affichage__products')}}" style="color:#fff; background-color:#222">
                                        Shop now
                                    </a>

                                </div>

                            </div>
                            <div class="picture_left">

                                <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/slide3.2b069.png?v=1580783642" class="img-responsive" alt="">

                            </div>
                        </div>
                    </div>



                    <div class="itemv-slide-h2">
                        <div class="info-sideh2">
                            <div class="picture-slideshow">

                                <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/bg_slide38708.jpg?v=1580800436" class="img-responsive img_slideh2" alt="">

                            </div>

                            <div class="box-content">

                                <p class="mb-0" style="color:#8e8e8e;">TRENDING COLLETION</p>



                                <h3 class="title1" style="color:#333333;">Bestbike</h3>



                                <h3 class="title2" style="color:#333333;">collection</h3>

                                <div class="box-button">

                                    <a class="button-shop-1580379262685-1580379262685-2" href="collections/all.html" style="color:#fff; background-color:#222">
                                        Shop now
                                    </a>

                                </div>

                            </div>
                            <div class="picture_left">

                                <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/slide3.3b069.png?v=1580783642" class="img-responsive" alt="">

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <style>


            .section-slideshow-v2 .slick-active .info-sideh2 .box-content .box-button .button-shop-1580379262685-1580379262685-0:hover{
                background-color: #ff6601 !important;
            }




            .section-slideshow-v2 .slick-active .info-sideh2 .box-content .box-button .button-shop-1580379262685-1580379262685-1:hover{
                background-color: #ff6601 !important;
            }




            .section-slideshow-v2 .slick-active .info-sideh2 .box-content .box-button .button-shop-1580379262685-1580379262685-2:hover{
                background-color: #ff6601 !important;
            }



        </style>






    </div>

    <div id="shopify-section-1580703852839" class="shopify-section index-section"><div data-section-id="1580703852839" data-section-type="section-brand-v1" style="  ">
            <div class="section-brand-v1 mmbtop_all">
                <div class="container container-v1">
                    <div class="jsbrand_list_v1 set-row">















                        <div class="item">
                            <a href="collections/all.html">

                                Abo
                            </a>
                        </div>



                    </div>
                </div>
            </div>
        </div>






    </div>
</div><div id="shopify-section-1565252333522" class="shopify-section"><div data-section-id="1565252333522" data-section-type="section-product-v1" style=" ">
        <div class="section-product-v1">
            <div class="container container-v1">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="box-banner">
                            <div class="box-img">
                                <a href="collections/all.html">

                                    <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/product1.24afc.jpg?v=1580877236" class="img-fluid w-100">

                                </a>
                            </div>
                            <div class="content-banner">

                                <h3 class="title mb-0">
                                    <a class="link__hover" title="Bestbike Bliss" href="collections/all.html">Offres</a>
                                </h3>


                                <span class="label_text"><span class="text">New Abonnment</span></span>




                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 px-md-0">
                        <div class="product_features slick_product_h1_banner">



                            {% for res in listproduit  %}
                                <div class="col-md-6 col-6 product_item">
                                    <div class="product-item-v1">
                                        <div class="product mb-30 engoj_grid_parent relative">

                                            <div class="img-product relative">
                                                <div class="planContainer"
                                                        {% if   res.quantite <5  %}
                                                    style="background-color: red;"
                                                        {% endif %}>

                                                    <div class="plan">
                                                        <div class="titleContainer">
                                                            <div class="title">{{  res.Lib_C }}</div>
                                                        </div>
                                                        <div class="infoContainer">
                                                            <div class="price">
                                                                {% if   res.quantite > 50  %}
                                                                    <strike style="color: red;">{{res.Prix}} DT</strike>
                                                                    <p >{{  res.Prix-(res.Prix*0.05)  }} </p><span style="position: absolute;">DT</span>
                                                                {% else %}
                                                                    <p>{{  res.Prix  }} </p><span> DT</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="p desc"><em>{{  res.Description }}</em></div>
                                                            <ul class="features">
                                                                <li ><strong>{{res.Libelle}}</strong> </li>
                                                                {% if   res.quantite >= 10  %}
                                                                    <li style="color:green;"><strong> Disponible &#128515;</strong> </li>
                                                                {% elseif res.quantite < 10 and res.quantite > 5 %}
                                                                    <li style="color:darkorange;"><strong>Limite &#128561;</strong> </li>
                                                                {% else %}
                                                                    <li style="color:red;"><strong>Epuise &#128557; </strong> </li>
                                                                {% endif %}
                                                                <li><strong>Site</strong> {{  res.Lib_S  }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                                <a  class="engoj_find_img">

                                                </a>
                                                {% if   res.quantite > 50  %}
                                                    <figure style= "background : #fb0e3a; color: #ffffff;margin-left: 250px;"  class="absolute uppercase label-sale text-center">


                                                        SOLDOUT

                                                    </figure>
                                                {% endif %}
                                                <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                    New
                                                </figure>
                                                {% if verif_abonnment == null %}
                                                    <div class="product-icon-action">

                                                        <form action="{{ path('_achat_unmois',{('ID_A'):res.ID_A}) }}" method="post">
                                                            <input type="hidden" value="{{  res.Prix  }} " name="prix">

                                                            <div class="add-wishlist">
                                                                <button  type="submit" name="valider"class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="offre un mois">  <i class="fa fa-heart-o "></i></button>


                                                            </div>
                                                        </form>
                                                        <form action="{{ path('_achat_trois_mois',{('ID_A'):res.ID_A}) }}" method="post">
                                                            <input type="hidden" value="{{  res.Prix  }} " name="prix">

                                                            <div class="add-wishlist">
                                                                <button  type="submit" name="valider"class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="offre un 3 mois">  <i class="fa fa-heart-o "></i></button>


                                                            </div>
                                                        </form>
                                                        <form action="{{ path('_achat_unans',{('ID_A'):res.ID_A}) }}" method="post">
                                                            <input type="hidden" value="{{  res.Prix  }} " name="prix">

                                                            <div class="add-wishlist">
                                                                <button  type="submit" name="valider"class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="offre un ans ">  <i class="fa fa-heart-o "></i></button>


                                                            </div>
                                                        </form>




                                                    </div>
                                                {% else %}
                                                    <div class="product-icon-action">
                                                        <div class="add-to-cart">

                                                            <a href="{{ path('_delete_offre') }} " class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="supprimer mon offre">
                                                                <i class="ti-close"></i>
                                                            </a>

                                                        </div>
                                                    </div>
                                                    <div class="sold-out ">
                                                        <a href="{{ path('_affichage_offre') }}" class="uppercase">&#x26D4; tu as un abonnment</a>
                                                    </div>
                                                {% endif %}


                                            </div>


                                        </div>

                                    </div>
                                </div>

                            {% endfor %}


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 px-md-0">
                        <div class="product_features slick_product_h1_banner">




                            {% for res in listaccessoire  %}
                                <div class="col-md-6 col-6 product_item">
                                    <div class="product-item-v1">


                                        <div class="product mb-30 engoj_grid_parent relative">
                                            <div class="img-product relative">
                                                <a href="products/diamondback-line.html" class="engoj_find_img">
                                                    <img style="width: 100%" src="{{ asset('uploads/images/')~ res.Image }}" class="img-responsive" alt="Image">
                                                </a>

                                                <!--     label product -->


























                                                <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                    New
                                                </figure>



                                                <!--     END LABEL -->


                                                <!--     ICON PRODUCT -->



                                                <div class="product-icon-action">
                                                    <div class="add-wishlist">

                                                        <a href="account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Acheter">

                                                            <i class="fa fa-heart-o "></i>
                                                        </a>

                                                    </div>

                                                    <div class="add-to-cart">


                                                        <a href="{{ path('_detail__front_accessoire',{('ID_A'):res.ID_A}) }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Detail">
                                                            <i class="ti-more-alt"></i>
                                                        </a>


                                                    </div>



                                                </div>
                                                <!--     END ICON -->




                                                <!--     SOLD OUT -->

                                                <!-- END SOLD OUT     -->

                                            </div>




                                            <div class="info-product">
                                                <h4 class="des-font capital title-product mb-0 flex">
                                                    <a href="products/diamondback-line.html">{{res.Libelle}}</a>

                                                </h4>




                                                <p class="price-product">

                                                    <span class="price">Prix : {{res.Prix}}DT</span>
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            {% endfor %}


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ">
                        <div class="box-banner">
                            <div class="box-img">
                                <a href="collections/all.html">

                                    <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/product1.19358.jpg?v=1580878052" class="img-fluid w-100">

                                </a>
                            </div>
                            <div class="content-banner">

                                <h3 class="title mb-0">
                                    <a class="link__hover" title="Advanced 2020" href="collections/all.html">Advanced 2020</a>
                                </h3>


                                <span class="label_text"><span class="text">New Accessoires</span></span>


                                <a href="collections/all.html" class="button-shop">ShOP NOW</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="box-banner">
                            <div class="box-img">
                                <a href="collections/all.html">

                                    <img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/product1.24afc.jpg?v=1580877236" class="img-fluid w-100">

                                </a>
                            </div>
                            <div class="content-banner">

                                <h3 class="title mb-0">
                                    <a class="link__hover" title="Bestbike Bliss" href="collections/all.html">Offres</a>
                                </h3>


                                <span class="label_text"><span class="text">New piece</span></span>




                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 px-md-0">
                        <div class="product_features slick_product_h1_banner">




                            {% for res in listpiece  %}
                                <div class="col-md-6 col-6 product_item">
                                    <div class="product-item-v1">


                                        <div class="product mb-30 engoj_grid_parent relative">
                                            <div class="img-product relative">
                                                <a href="products/diamondback-line.html" class="engoj_find_img">
                                                    <img style="width: 100%" src="{{ asset('uploads/images/')~ res.Image }}" class="img-responsive" alt="Image">
                                                </a>

                                                <!--     label product -->


























                                                <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                    New
                                                </figure>



                                                <!--     END LABEL -->


                                                <!--     ICON PRODUCT -->



                                                <div class="product-icon-action">
                                                    <div class="add-wishlist">

                                                        <a href="account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Acheter">

                                                            <i class="fa fa-heart-o "></i>
                                                        </a>

                                                    </div>

                                                    <div class="add-to-cart">


                                                        <a href="{{ path('_detail__front__piece',{('ID_Pi'):res.ID_Pi}) }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Detail">
                                                            <i class="ti-more-alt"></i>
                                                        </a>


                                                    </div>



                                                </div>
                                                <!--     END ICON -->




                                                <!--     SOLD OUT -->

                                                <!-- END SOLD OUT     -->

                                            </div>




                                            <div class="info-product">
                                                <h4 class="des-font capital title-product mb-0 flex">
                                                    <a href="products/diamondback-line.html">{{res.Libelle}}</a>

                                                </h4>




                                                <p class="price-product">

                                                    <span class="price">Prix : {{res.Prix}}DT</span>
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <div id="shopify-section-1565539533973" class="shopify-section"><div data-section-id="1565539533973" data-section-type="section-banner-v1" style=" ">
            <div class="section-banner-v1 mt-all">
                <div class="container container-v1">
                    <div class="img-banner images">

                        <a ><img src="../cdn.shopify.com/s/files/1/0321/8109/2492/files/banner1216d.jpg?v=1580889913" class="img-fluid"></a>

                        <div class="banner-info">
                            <div class="top_title">
                                <h3 class="title">
                                    <a > Book a Bike</a>
                                </h3>
                            </div>
                            <div class="subtitle">Akwa noura f alem </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
<div id="shopify-section-1565539591269" class="shopify-section"><div data-section-id="1565539591269" data-section-type="section-product-v2" style=" ">
        <div class="section-product-v2" style="background-image: url({{ asset(' cdn.shopify.com/s/files/1/0321/8109/2492/files/bg_product22ee9.jpg?v=1580885233') }} )">
            <div class="container container-v2">
                <div class="text-center title-product-v2">

                    <h3 class="block-title">New Arrival</h3>

                </div>
                <div class="row">
                    <div class="product_best_sell engoc-row-equal">



                        {% for i in listvelo %}

                            <div class=" col-lg-3 col-6 col-md-4">
                                <div class="product-item-v1">

                                    <div class="product mb-30 engoj_grid_parent relative">
                                        <div class="img-product relative">
                                            <a href="{{path('reservation_booking',{id_v:i.id})}}" class="engoj_find_img">
                                                <img src="{{ asset("uploads/images/"~ i.Image) }}"  >
                                            </a>


                                            <!--     label product -->

                                            <button type="submit" aria-hidden="true" style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                <a href="{{path('reservation_booking',{id_v:i.id})}}" style="color: #ffffff" >BOOK</a>
                                            </button>
                                            <!--     END LABEL -->
                                            <!--     ICON PRODUCT -->
                                            <div class="product-icon-action">
                                                <div class="add-wishlist">

                                                    <a href="account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">

                                                        <i class="fa fa-heart-o "></i>
                                                    </a>
                                                </div>
                                                <div class="add-to-cart">

                                                    <a href="products/giant-atx-3.html" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Select Option">
                                                        <i class="ti-more-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="quick-view">
                                                    <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="giant-atx-3" data-toggle="tooltip" data-placement="top" data-original-title="Quickview">
                                                        <i class="ti-search"></i>

                                                    </a>
                                                </div>
                                            </div>
                                            <!--     END ICON -->

                                            <!--     SOLD OUT -->

                                            <!-- END SOLD OUT     -->

                                        </div>

                                        <div class="info-product">
                                            <h4 class="des-font capital title-product mb-0 flex">
                                                <a href="{{path('reservation_booking',{id_v:i.id})}}">{{ i.Libelle }}</a>

                                            </h4>
                                            <!--     PRICE -->

                                            <p class="price-product">

                                                <span class="price"> {{ i.Prix }}DT</span>
                                            </p>
                                            <!-- END PRODUCT     -->

                                            <!-- VARIANT PRODUCT -->

                                            <nav class="engoj_select_color">
	  <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: lightgrey;"></a>
      </span>

                                                <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: yellowgreen;"></a>
      </span>


                                                <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: maroon;"></a>
      </span>


                                                <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: orange;"></a>
      </span>

                                            </nav>
                                            <!-- END VARIANT     -->
                                            <!--     THUMBNAIL PRODUCT -->
                                            <!-- END THUMBNAIL     -->
                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}







                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    {% endblock %}
