{% extends 'temp_admin.html.twig' %}


{% block content %}
    <h3><i class="fa fa-angle-right"></i> Categorie</h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="form-panel">
                <div class="showback">




                    <!-- Button trigger modal -->
                    <button class="btn btn-success btn-lg" style="margin-left: 450px;" data-toggle="modal" data-target="#myModal">
                        <i class=" fa  fa-plus"></i>
                    </button>















                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                {{ form_start(form) }}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Ajout categorie</h4>
                                </div>


                                <div class="modal-body">
                                    <div class="form-group">

                                        <label>Libelle</label>
                                        {{ form_widget(form.libC, { 'attr': {'class': 'form-control', 'type' : 'textarea'} }) }}

                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>

                                         {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'type' : 'textarea'} })}}
                                    </div>
                                    <div class="form-group">
                                        <label>type</label>

                                        {{ form_widget(form.type, { 'attr': {'class': 'form-control'}}) }}
                                    </div>


                                </div>

                                <div class="modal-footer">
                                    <button type="button"class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button  type="submit"name="valider" class="btn btn-success">Ajout</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="showback">
                    <label class="col-sm-2 col-sm-2 control-label" style="margin-top: 8px;width: 120px;"   >Recherche : </label>
                    <input type="text" id="search" class="form-control" style="
    width: 20%;
" placeholder="Rechercher  ...">
                </div>
                <div class="showback">
                    <div class="adv-table">
                        <table  cellpadding="0" cellspacing="0" border="0" id="tableac" class="display table table-bordered" >
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th >type</th>
                                <th >Options  </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for res in list %}
                            <tr >
                                <td>{{ res.idC }}</td>
                                <td>{{ res.libC }}</td>
                                <td>{{ res.description }}</td>
                                <td >{{ res.type }}</td>
                                <td>


                                    <i class="fa fa-edit" data-toggle="modal" data-target="#mode{{res.idC}}" ></i>
                                    <a href="{{ path('_delete_categorie',{('idC'):res.idC}) }}" class="delete" onclick="return confirm('Are you sure')"><i class="fa fa-trash-o" data-toggle="tooltip" title="Delete"></i></a>
                                </td>

                            </tr>
                                <div class="modal fade" id="mode{{res.idC}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form method="post" action="{{ path('_update_categorie',{('idC'):res.idC}) }}">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Modifier categorie</h4>
                                            </div>


                                            <div class="modal-body">







                                                <div class="form-group ">
                                                    <label>Libelle</label>


                                                        <input type="text" name="libC" value="{{  res.libC  }}" class="form-control">

                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>

                                                        <input type="text" name="description" value="{{  res.description  }}" class="form-control">

                                                                </div>
                                                <div class="form-group">
                                                    <label>type</label>
                                                    <select name="type" class="form-control">
                                                        <option>Abonnement</option>
                                                        <option>Piece</option>
                                                        <option>Velo</option>

                                                    </select>

                                                </div>



                                            </div>

                                            <div class="modal-footer">
                                                <button type="button"class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <button  type="submit"name="valider" class="btn btn-success">Modifier</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <!-- col-lg-12-->
    </div>
{% endblock %}

