{% extends 'base.html.twig' %}

{% block content %}


    <!-- /templates/collection.liquid -->
    <div id="shopify-section-collection-template" class="shopify-section"><!-- collection-template.liquid -->






        <div class="wrap-bread-crumb breadcrumb_collection">
            <div class="text-center bg-breadcrumb" style="background-image : url({{ asset('cdn.shopify.com/s/files/1/0321/8109/2492/files/bg_aboutusa7d1.jpg?v=1580436779') }})">
                <div class="title-page">

                    <h2 class="" style="color: #fff">Products</h2>

                </div>
                <!-- /snippets/breadcrumb.liquid -->



                <div class="bread-crumb">
                    <a href="../index.html" title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>


                    <strong>Products</strong>



                </div>




            </div>
        </div>




        <section class="collection-page-sidebar">
            <div  class="container container-v2">
                <div class="row">


                    <div class="col-lg-3  order-1  ">
                        <div class="filter_sidebar d-none d-lg-block">
                            <div class=" engoj-collection-sidebar engoc_sw_filter_tag">



                                <div class="widget widget-category filter-category">
                                    <h2 class="widget-title ">sites Disponible</h2>
                                    <div class="widget-content">
                                        <ul class="list-category-toggle toggle-tab list-none">

                                            {% for res in listsite %}
                                                <li class="item-toggle-tab"><a  href="{{ path('_affichage__products_selon_site',{ 'lib_S':res.libS  }) }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{res.lieu ~ " : " ~ res.libS }}</a></li>

                                            {% endfor %}


                                        </ul>
                                    </div>
                                </div>




                                <section class="widget widget-category widget_product_categories filter-brand">
                                    <h2 class="widget-title">product</h2>
                                    <ul class="list-none list-brand">

                                        <li class="cat-item">

                                            <a href="{{path('_affichage__products_cas',{ 'cas': 1  })}}" title="BestBike - Bike Store Business Shopify Theme">Abonnment</a>
                                        </li>
                                        <li class="cat-item">

                                            <a href="vendorsbb5f.html?q=BestBike%20-%20Bike%20Store%20Business%20Shopify%20Theme" title="BestBike - Bike Store Business Shopify Theme">Accessoire</a>
                                        </li>
                                        <li class="cat-item">

                                            <a href="vendorsbb5f.html?q=BestBike%20-%20Bike%20Store%20Business%20Shopify%20Theme" title="BestBike - Bike Store Business Shopify Theme">velo</a>
                                        </li>

                                    </ul>
                                    <!-- /.product-categories -->
                                </section>













                                <section class="filter-price filter-tag">
                                    <h2 class="widget-title ">Price Filter</h2>
                                    <ul class="list-none list-price">


                                        <li class="cat-item">
                                            <input type="checkbox"  value="300-400" />
                                            <a href="javascript:void(0); " title="300DT-400DT"><i class="fa fa-angle-right" aria-hidden="true"></i>300DT - 400DT </a>
                                        </li>



                                        <li class="cat-item">
                                            <input type="checkbox" value="400-500" />
                                            <a href="javascript:void(0)" title="400DT - 500DT"><i class="fa fa-angle-right" aria-hidden="true"></i>400DT - 500DT</a>
                                        </li>



                                        <li class="cat-item">
                                            <input type="checkbox" value="500-600" />
                                            <a href="javascript:void(0)" title="500DT - 600DT"><i class="fa fa-angle-right" aria-hidden="true"></i>500DT - 600DT</a>
                                        </li>



                                        <li class="cat-item">
                                            <input type="checkbox" value="600-up" />
                                            <a href="javascript:void(0)" title="600DT & Up"><i class="fa fa-angle-right" aria-hidden="true"></i>600 DT & Up</a>
                                        </li>


                                    </ul>
                                    <!-- /.product-categories -->
                                </section>





                                <div class="widget widget-tags">
                                    <h2 class="widget-title title14 font-bold dosis-font text-uppercase">Tags</h2>
                                    <ul class="list-none wg-list-tags list-tag">

                                        <li><a href="best-seller/1000-1500.html" title="Show products matching tag $1000-$1500">$1000-$1500</a></li>

                                        <li><a href="best-seller/1500-2000.html" title="Show products matching tag $1500-$2000">$1500-$2000</a></li>

                                        <li><a href="best-seller/2000-up.html" title="Show products matching tag $2000 &amp; Up">$2000 & Up</a></li>

                                        <li><a href="best-seller/aa" title="Show products matching tag $500-$1000">$500-$1000</a></li>

                                        <li><a href="best-seller/black.html" title="Show products matching tag Black">Black</a></li>

                                        <li><a href="best-seller/blue.html" title="Show products matching tag Blue">Blue</a></li>

                                        <li><a href="best-seller/l.html" title="Show products matching tag L">L</a></li>

                                        <li><a href="best-seller/lightblue.html" title="Show products matching tag LightBlue">LightBlue</a></li>

                                        <li><a href="best-seller/m.html" title="Show products matching tag M">M</a></li>

                                        <li><a href="best-seller/orange.html" title="Show products matching tag Orange">Orange</a></li>

                                        <li><a href="best-seller/red.html" title="Show products matching tag Red">Red</a></li>

                                        <li><a href="best-seller/s.html" title="Show products matching tag S">S</a></li>

                                        <li><a href="best-seller/steelblue.html" title="Show products matching tag SteelBlue">SteelBlue</a></li>

                                        <li><a href="best-seller/tan.html" title="Show products matching tag Tan">Tan</a></li>

                                        <li><a href="best-seller/white.html" title="Show products matching tag White">White</a></li>

                                        <li><a href="best-seller/x.html" title="Show products matching tag X">X</a></li>

                                        <li><a href="best-seller/xl.html" title="Show products matching tag XL">XL</a></li>

                                        <li><a href="best-seller/yellow.html" title="Show products matching tag Yellow">Yellow</a></li>

                                        <li><a href="best-seller/yellowgreen.html" title="Show products matching tag YellowGreen">YellowGreen</a></li>

                                    </ul>
                                </div>



                            </div>
                            <!-- #secondary -->
                        </div>


                        <div class="filter-to-left d-lg-none">
                            <div class="filter_sidebar">
                                <div class="close_filter">close <i class="ti-close"></i></div>
                                <div class=" engoj-collection-sidebar engoc_sw_filter_tag">



                                    <div class="widget widget-category filter-category">
                                        <h2 class="widget-title ">Categories</h2>
                                        <div class="widget-content">
                                            <ul class="list-category-toggle toggle-tab list-none">


                                                <li class="item-toggle-tab"><a  href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>



                                                <li class="item-toggle-tab"><a  href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shop</a></li>



                                                <li class="item-toggle-tab"><a  href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Featured</a></li>



                                                <li class="item-toggle-tab"><a  href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pages</a></li>



                                                <li class="item-toggle-tab"><a  href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Element</a></li>


                                            </ul>
                                        </div>
                                    </div>




                                    <section class="widget widget-category widget_product_categories filter-brand">
                                        <h2 class="widget-title">product</h2>
                                        <ul class="list-none list-brand">

                                            <li class="cat-item">

                                                <a href="{{path('_affichage__products_cas',{ 'cas': 1  })}}" title="BestBike - Bike Store Business Shopify Theme">Abonnment</a>
                                            </li>
                                            <li class="cat-item">

                                                <a href="vendorsbb5f.html?q=BestBike%20-%20Bike%20Store%20Business%20Shopify%20Theme" title="BestBike - Bike Store Business Shopify Theme">Accessoire</a>
                                            </li>
                                            <li class="cat-item">

                                                <a href="vendorsbb5f.html?q=BestBike%20-%20Bike%20Store%20Business%20Shopify%20Theme" title="BestBike - Bike Store Business Shopify Theme">velo</a>
                                            </li>

                                        </ul>
                                        <!-- /.product-categories -->
                                    </section>













                                    <section class="filter-price filter-tag">
                                        <h2 class="widget-title ">Price Filter</h2>
                                        <ul class="list-none list-price">





                                            <li class="cat-item">
                                                <input type="checkbox" value="500-1000" />
                                                <a href="javascript:void(0)" title="$500-$1000"><i class="fa fa-angle-right" aria-hidden="true"></i>$500-$1000</a>
                                            </li>



                                            <li class="cat-item">
                                                <input type="checkbox" value="1000-1500" />
                                                <a href="javascript:void(0)" title="$1000-$1500"><i class="fa fa-angle-right" aria-hidden="true"></i>$1000-$1500</a>
                                            </li>



                                            <li class="cat-item">
                                                <input type="checkbox" value="1500-2000" />
                                                <a href="javascript:void(0)" title="$1500-$2000"><i class="fa fa-angle-right" aria-hidden="true"></i>$1500-$2000</a>
                                            </li>



                                            <li class="cat-item">
                                                <input type="checkbox" value="2000-up" />
                                                <a href="javascript:void(0)" title="$2000 & Up"><i class="fa fa-angle-right" aria-hidden="true"></i>$2000 & Up</a>
                                            </li>

                                        </ul>
                                        <!-- /.product-categories -->
                                    </section>





                                    <div class="widget widget-tags">
                                        <h2 class="widget-title title14 font-bold dosis-font text-uppercase">Tags</h2>
                                        <ul class="list-none wg-list-tags list-tag">

                                            <li><a href="best-seller/1000-1500.html" title="Show products matching tag $1000-$1500">$1000-$1500</a></li>

                                            <li><a href="best-seller/1500-2000.html" title="Show products matching tag $1500-$2000">$1500-$2000</a></li>

                                            <li><a href="best-seller/2000-up.html" title="Show products matching tag $2000 &amp; Up">$2000 & Up</a></li>

                                            <li><a href="best-seller/aaaa" title="Show products matching tag $500-$1000">$500-$1000</a></li>

                                            <li><a href="best-seller/black.html" title="Show products matching tag Black">Black</a></li>

                                            <li><a href="best-seller/blue.html" title="Show products matching tag Blue">Blue</a></li>

                                            <li><a href="best-seller/l.html" title="Show products matching tag L">L</a></li>

                                            <li><a href="best-seller/lightblue.html" title="Show products matching tag LightBlue">LightBlue</a></li>

                                            <li><a href="best-seller/m.html" title="Show products matching tag M">M</a></li>

                                            <li><a href="best-seller/orange.html" title="Show products matching tag Orange">Orange</a></li>

                                            <li><a href="best-seller/red.html" title="Show products matching tag Red">Red</a></li>

                                            <li><a href="best-seller/s.html" title="Show products matching tag S">S</a></li>

                                            <li><a href="best-seller/steelblue.html" title="Show products matching tag SteelBlue">SteelBlue</a></li>

                                            <li><a href="best-seller/tan.html" title="Show products matching tag Tan">Tan</a></li>

                                            <li><a href="best-seller/white.html" title="Show products matching tag White">White</a></li>

                                            <li><a href="best-seller/x.html" title="Show products matching tag X">X</a></li>

                                            <li><a href="best-seller/xl.html" title="Show products matching tag XL">XL</a></li>

                                            <li><a href="best-seller/yellow.html" title="Show products matching tag Yellow">Yellow</a></li>

                                            <li><a href="best-seller/yellowgreen.html" title="Show products matching tag YellowGreen">YellowGreen</a></li>

                                        </ul>
                                    </div>



                                </div>
                                <!-- #secondary -->
                                <div class="banner_sidebar">
                                    <a href="#">
                                        <img class="w-100" src="../../cdn.shopify.com/s/files/1/0321/8109/2492/files/banner_sidebardd1b.jpg?v=1580932710">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="overlay-filter d-lg-none"></div>
                    </div>


                    <div class="col-lg-9 px-0  order-2 ">
                        <div class="content-page">
                            <div class="container container-v2">

                                <div class="title-cate">
                                    <h2 class="mb-0">All products</h2>

                                </div>

                                <div class="row shop_control " >
                                    <div style="" class="col-md-6 col-12 ">
                                        <div class="filter_sortby">

                                            <a class="filter js_filter"  data-toggle="collapse" data-target="#demo"  href="javascript:void(0)">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 485.008 485.008" style="enable-background:new 0 0 485.008 485.008;" xml:space="preserve">
                      <g>
                          <g>
                              <path d="M171.501,464.698v-237.9l-166.3-192.6c-8.9-10.9-7.9-33.3,15.1-33.3h443.6c21.6,0,26.6,19.8,15.1,33.3l-162.3,187.5v147.2
                                   c0,6-2,11.1-7.1,15.1l-103.8,95.8C193.801,488.698,171.501,483.898,171.501,464.698z M64.701,41.298l142.2,164.3c3,4,5,8.1,5,13.1
                                   v200.6l64.5-58.5v-146.1c0-5,2-9.1,5-13.1l138.1-160.3L64.701,41.298L64.701,41.298z"/>
                          </g>
                      </g>

                    </svg>
                                                <p class="mb-0">filter</p>
                                            </a>



                                            <!-- /snippets/collection-sorting.liquid -->







                                        </div>
                                    </div>

                                    <div style="" class="col-md-6 col-12">
                                        <div class="style_layout_prod justify-content-center justify-content-md-end   ">


                                            <div class="prod_grid active">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="5px" height="5px" viewBox="0 0 5 5" enable-background="new 0 0 5 5" xml:space="preserve">
                      <g>
                          <g>
                              <path d="M0,2.191h2.191V0H0V2.191z M0.626,0.626h0.939v0.939H0.626V0.626z"/>
                              <path d="M2.81,0v2.191H5V0H2.81z M4.375,1.565h-0.94V0.626h0.94V1.565z"/>
                              <path d="M0,5h2.191V2.809H0V5z M0.626,3.435h0.939v0.939H0.626V3.435z"/>
                              <path d="M2.81,5H5V2.809H2.81V5z M3.435,3.435h0.94v0.939h-0.94V3.435z"/>
                          </g>
                      </g>
                    </svg>
                                            </div>

                                            <div class="prod_list ">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="5px" height="5px" viewBox="0 0 5 5" enable-background="new 0 0 5 5" xml:space="preserve">
                      <g>
                          <rect y="0.683" width="3.629" height="0.454"/>
                          <rect y="3.863" width="2.5" height="0.454"/>
                          <rect y="2.267" width="5" height="0.453"/>
                      </g>
                    </svg>
                                            </div>


                                            <div class="prod_per">
                                                <a href="javascript:void(0)" class="size_1 d-md-none">1</a>
                                                <a href="javascript:void(0)" class="size_2 d-lg-none">2</a>
                                                <a href="javascript:void(0)" class="size_3">3</a>
                                                <a href="javascript:void(0)" class="size_4">4</a>
                                                <a href="javascript:void(0)" class="size_5 ">5</a>
                                                <a href="javascript:void(0)" class="size_6 ">6</a>
                                            </div>




                                        </div>
                                    </div>

                                </div>
                                <div class="d-lg-block d-none">
                                    <div id="demo" class="collapse filter_ver2">
                                        <div class="filter_sidebar row engoj-collection-sidebar engoc_sw_filter_tag">




                                            <div class="col-lg-2dot4 col-6 col-md-4">
                                                <div class="widget widget-category filter-category">

                                                    <h2 class="widget-title ">List Sites</h2>
                                                    <div class="widget-content">
                                                        <ul class="list-category-toggle toggle-tab list-none">


                                                            {% for res in listsite %}
                                                                <li class="item-toggle-tab"><a  href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>{{res.lieu ~ " : " ~ res.libS }}</a></li>

                                                            {% endfor %}





                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-lg-2dot4 col-6 col-md-4">
                                                <section class="widget widget-category widget_product_categories filter-brand">
                                                    <h2 class="widget-title">product</h2>
                                                    <ul class="list-none list-brand">

                                                        <li class="cat-item">

                                                            <a href="{{path('_affichage__products_cas',{ 'cas': 1  })}}" title="BestBike - Bike Store Business Shopify Theme">Abonnment</a>
                                                        </li>
                                                        <li class="cat-item">

                                                            <a href="vendorsbb5f.html?q=BestBike%20-%20Bike%20Store%20Business%20Shopify%20Theme" title="BestBike - Bike Store Business Shopify Theme">Accessoire</a>
                                                        </li>
                                                        <li class="cat-item">

                                                            <a href="vendorsbb5f.html?q=BestBike%20-%20Bike%20Store%20Business%20Shopify%20Theme" title="BestBike - Bike Store Business Shopify Theme">velo</a>
                                                        </li>

                                                    </ul>
                                                    <!-- /.product-categories -->
                                                </section>
                                            </div>














                                            <div class="col-lg-2dot4 col-6 col-md-4">
                                                <section class="filter-price filter-tag">
                                                    <h2 class="widget-title ">Price Filter</h2>
                                                    <ul class="list-none list-price">





                                                        <li class="cat-item">
                                                            <input type="checkbox"  value="300-400" />
                                                            <a href="javascript:void(0); " title="300DT-400DT"><i class="fa fa-angle-right" aria-hidden="true"></i>300DT - 400DT </a>
                                                        </li>



                                                        <li class="cat-item">
                                                            <input type="checkbox" value="400-500" />
                                                            <a href="javascript:void(0)" title="400DT - 500DT"><i class="fa fa-angle-right" aria-hidden="true"></i>400DT - 500DT</a>
                                                        </li>



                                                        <li class="cat-item">
                                                            <input type="checkbox" value="500-600" />
                                                            <a href="javascript:void(0)" title="500DT - 600DT"><i class="fa fa-angle-right" aria-hidden="true"></i>500DT - 600DT</a>
                                                        </li>



                                                        <li class="cat-item">
                                                            <input type="checkbox" value="600-up" />
                                                            <a href="javascript:void(0)" title="600DT & Up"><i class="fa fa-angle-right" aria-hidden="true"></i>600 DT & Up</a>
                                                        </li>

                                                    </ul>
                                                    <!-- /.product-categories -->
                                                </section>
                                            </div>



                                            <!-- #secondary -->
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix relative collection_prod">
                                    <div id="productContainer">
                                        <div class="product-grid-view active ">
                                            <div class="row grid-uniform">
                                                {% if cas == 1 %}
                                                {% for res in listproduit  %}
                                                    <div class="js_size_prod col-md-4 col-6 pb-4 trans-product ">
                                                        <div class="product-item-v1">
                                                            <div class="product mb-30 engoj_grid_parent relative">

                                                                <div class="img-product relative">
                                                                    <div class="planContainer"
                                                                            {% if   res.quantite <5  %}
                                                                        style="background-color: red;"
                                                                            {% endif %}>

                                                                        <div class="plan">
                                                                            <div class="titleContainer">
                                                                                <div class="title">{{  res.Lib_C }}</div>
                                                                            </div>
                                                                            <div class="infoContainer">
                                                                                <div class="price">
                                                                                    {% if   res.quantite > 50  %}
                                                                                        <strike style="color: red;">{{res.Prix}} DT</strike>
                                                                                        <p >{{  res.Prix-(res.Prix*0.05)  }} </p><span style="position: absolute;">DT</span>
                                                                                    {% else %}
                                                                                        <p>{{  res.Prix  }} </p><span> DT</span>
                                                                                    {% endif %}
                                                                                </div>
                                                                                <div class="p desc"><em>{{  res.Description }}</em></div>
                                                                                <ul class="features">
                                                                                    <li ><strong>{{res.Libelle}}</strong> </li>
                                                                                    {% if   res.quantite >= 10  %}
                                                                                        <li style="color:green;"><strong> Disponible &#128515;</strong> </li>
                                                                                    {% elseif res.quantite < 10 and res.quantite > 5 %}
                                                                                        <li style="color:darkorange;"><strong>Limite &#128561;</strong> </li>
                                                                                    {% else %}
                                                                                        <li style="color:red;"><strong>Epuise &#128557; </strong> </li>
                                                                                    {% endif %}
                                                                                    <li><strong>Site</strong> {{  res.Lib_S  }}</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <a  class="engoj_find_img">

                                                                    </a>
                                                                    {% if   res.quantite > 50  %}
                                                                        <figure style= "background : #fb0e3a; color: #ffffff;margin-left: 250px;"  class="absolute uppercase label-sale text-center">


                                                                            SOLDOUT

                                                                        </figure>
                                                                    {% endif %}
                                                                    <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                                        New
                                                                    </figure>
                                                                    {% if verif_abonnment == null %}
                                                                        <div class="product-icon-action">

                                                                            <form action="{{ path('_achat_unmois',{('ID_A'):res.ID_A}) }}" method="post">
                                                                                <input type="hidden" value="{{  res.Prix  }} " name="prix">

                                                                                <div class="add-wishlist">
                                                                                    <button  type="submit" name="valider"class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="offre un mois">  <i class="fa fa-heart-o "></i></button>


                                                                                </div>
                                                                            </form>
                                                                            <form action="{{ path('_achat_trois_mois',{('ID_A'):res.ID_A}) }}" method="post">
                                                                                <input type="hidden" value="{{  res.Prix  }} " name="prix">

                                                                                <div class="add-wishlist">
                                                                                    <button  type="submit" name="valider"class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="offre un 3 mois">  <i class="fa fa-heart-o "></i></button>


                                                                                </div>
                                                                            </form>
                                                                            <form action="{{ path('_achat_unans',{('ID_A'):res.ID_A}) }}" method="post">
                                                                                <input type="hidden" value="{{  res.Prix  }} " name="prix">

                                                                                <div class="add-wishlist">
                                                                                    <button  type="submit" name="valider"class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="offre un ans ">  <i class="fa fa-heart-o "></i></button>


                                                                                </div>
                                                                            </form>




                                                                        </div>
                                                                    {% else %}
                                                                        <div class="product-icon-action">
                                                                            <div class="add-to-cart">

                                                                                <a href="{{ path('_delete_offre') }} " class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="supprimer mon offre">
                                                                                    <i class="ti-close"></i>
                                                                                </a>

                                                                            </div>
                                                                        </div>
                                                                        <div class="sold-out ">
                                                                            <a href="{{ path('_affichage_offre') }}" class="uppercase">&#x26D4; tu as un abonnment</a>
                                                                        </div>
                                                                    {% endif %}


                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>

                                                {% endfor %}

                                                {% elseif cas == 2 %}
                                                {% for res in listaccessoire  %}
                                                    <div class="js_size_prod col-md-4 col-6 pb-4 trans-product ">
                                                        <div class="product-item-v1">


                                                            <div class="product mb-30 engoj_grid_parent relative">
                                                                <div class="img-product relative">
                                                                    <a href="products/diamondback-line.html" class="engoj_find_img">
                                                                        <img style="width: 100%" src="{{ asset('uploads/images/')~ res.Image }}" class="img-responsive" alt="Image">
                                                                    </a>

                                                                    <!--     label product -->


























                                                                    <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                                        New
                                                                    </figure>



                                                                    <!--     END LABEL -->


                                                                    <!--     ICON PRODUCT -->



                                                                    <div class="product-icon-action">
                                                                        <div class="add-wishlist">

                                                                            <a href="account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Acheter">

                                                                                <i class="fa fa-heart-o "></i>
                                                                            </a>

                                                                        </div>

                                                                        <div class="add-to-cart">


                                                                            <a href="{{ path('_detail__front_accessoire',{('ID_A'):res.ID_A}) }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Detail">
                                                                                <i class="ti-more-alt"></i>
                                                                            </a>


                                                                        </div>



                                                                    </div>
                                                                    <!--     END ICON -->




                                                                    <!--     SOLD OUT -->

                                                                    <!-- END SOLD OUT     -->

                                                                </div>




                                                                <div class="info-product">
                                                                    <h4 class="des-font capital title-product mb-0 flex">
                                                                        <a href="products/diamondback-line.html">{{res.Libelle}}</a>

                                                                    </h4>




                                                                    <p class="price-product">

                                                                        <span class="price">Prix : {{res.Prix}}DT</span>
                                                                    </p>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                {% endfor %}

                                               {% elseif cas == 3 %}
                                                {% for res in listpiece  %}
                                                    <div class="js_size_prod col-md-4 col-6 pb-4 trans-product ">
                                                        <div class="product-item-v1">


                                                            <div class="product mb-30 engoj_grid_parent relative">
                                                                <div class="img-product relative">
                                                                    <a href="products/diamondback-line.html" class="engoj_find_img">
                                                                        <img style="width: 100%" src="{{ asset('uploads/images/')~ res.Image }}" class="img-responsive" alt="Image">
                                                                    </a>

                                                                    <!--     label product -->


























                                                                    <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                                        New
                                                                    </figure>



                                                                    <!--     END LABEL -->


                                                                    <!--     ICON PRODUCT -->



                                                                    <div class="product-icon-action">
                                                                        <div class="add-wishlist">

                                                                            <a href="account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Acheter">

                                                                                <i class="fa fa-heart-o "></i>
                                                                            </a>

                                                                        </div>

                                                                        <div class="add-to-cart">


                                                                            <a href="{{ path('_detail__front__piece',{('ID_Pi'):res.ID_Pi}) }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Detail">
                                                                                <i class="ti-more-alt"></i>
                                                                            </a>


                                                                        </div>



                                                                    </div>
                                                                    <!--     END ICON -->




                                                                    <!--     SOLD OUT -->

                                                                    <!-- END SOLD OUT     -->

                                                                </div>




                                                                <div class="info-product">
                                                                    <h4 class="des-font capital title-product mb-0 flex">
                                                                        <a href="products/diamondback-line.html">{{res.Libelle}}</a>

                                                                    </h4>




                                                                    <p class="price-product">

                                                                        <span class="price">Prix : {{res.Prix}}DT</span>
                                                                    </p>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                {% endfor %}
                                                {% else %}
                                                {% for i in listvelo  %}
                                                    <div class="js_size_prod col-md-4 col-6 pb-4 trans-product ">
                                                        <div class="product-item-v1">

                                                            <div class="product mb-30 engoj_grid_parent relative">
                                                                <div class="img-product relative">
                                                                    <a href="{{path('reservation_booking',{id_v:i.id})}}" class="engoj_find_img">
                                                                        <img src="{{ asset("uploads/images/"~ i.Image) }}"  >
                                                                    </a>


                                                                    <!--     label product -->

                                                                    <button type="submit" aria-hidden="true" style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                                        <a href="{{path('reservation_booking',{id_v:i.id})}}" style="color: #ffffff" >BOOK</a>
                                                                    </button>
                                                                    <!--     END LABEL -->
                                                                    <!--     ICON PRODUCT -->
                                                                    <div class="product-icon-action">
                                                                        <div class="add-wishlist">

                                                                            <a href="account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">

                                                                                <i class="fa fa-heart-o "></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="add-to-cart">

                                                                            <a href="products/giant-atx-3.html" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Select Option">
                                                                                <i class="ti-more-alt"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="quick-view">
                                                                            <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="giant-atx-3" data-toggle="tooltip" data-placement="top" data-original-title="Quickview">
                                                                                <i class="ti-search"></i>

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <!--     END ICON -->

                                                                    <!--     SOLD OUT -->

                                                                    <!-- END SOLD OUT     -->

                                                                </div>

                                                                <div class="info-product">
                                                                    <h4 class="des-font capital title-product mb-0 flex">
                                                                        <a href="{{path('reservation_booking',{id_v:i.id})}}">{{ i.Libelle }}</a>

                                                                    </h4>
                                                                    <!--     PRICE -->

                                                                    <p class="price-product">

                                                                        <span class="price"> {{ i.Prix }}DT</span>
                                                                    </p>
                                                                    <!-- END PRODUCT     -->

                                                                    <!-- VARIANT PRODUCT -->

                                                                    <nav class="engoj_select_color">
	  <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: lightgrey;"></a>
      </span>

                                                                        <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: yellowgreen;"></a>
      </span>


                                                                        <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: maroon;"></a>
      </span>


                                                                        <span class="">
      		<a class="circle" href="javascript:void(0)"  style="background-color: orange;"></a>
      </span>

                                                                    </nav>
                                                                    <!-- END VARIANT     -->
                                                                    <!--     THUMBNAIL PRODUCT -->
                                                                    <!-- END THUMBNAIL     -->
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                {% endfor %}
                                                {% endif %}



                                            </div>



                                            <!-- End Paginav -->
                                        </div>
                                        <div class="product-list-view  ">

                                            <div class="list_prod">
                                                <div class="product-item-list">



                                                    <div class="product engoj_grid_parent">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="img-product relative">
                                                                    <a href="best-seller/products/giant-roam-3.html" class="engoj_find_img">
                                                                        <img style="width: 100%" src="../../cdn.shopify.com/s/files/1/0321/8109/2492/products/15.1_5e302e6f-0025-4d45-a9cd-86a1867f2f2d67e7.jpg?v=1580655715" class="img-responsive" alt="Giant Roam 3">








                                                                        <img style="width: 100%" src="../../cdn.shopify.com/s/files/1/0321/8109/2492/products/6.1_9ee435cc-86c1-45ea-8bdb-9630bf4516c067e7.jpg?v=1580655715" class="img-responsive absolute img-product-hover" alt="Giant Roam 3">


                                                                    </a>

                                                                    <!--     label product -->


























                                                                    <figure style= "background : #ff6601; color: #ffffff"  class="absolute uppercase label-new text-center">
                                                                        New
                                                                    </figure>



                                                                    <!--     END LABEL -->







                                                                    <!--     SOLD OUT -->



                                                                    <div class="sold-out ">
                                                                        <a href="best-seller/products/giant-roam-3.html" class="uppercase">sold out</a>
                                                                    </div>

                                                                    <!-- END SOLD OUT     -->

                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="info-product">
                                                                    <h4 class="des-font capital title-product mb-0 flex">
                                                                        <a href="best-seller/products/giant-roam-3.html">Giant Roam 3</a>

                                                                    </h4>
                                                                    <!--     PRICE -->



                                                                    <p class="price-product">

                                                                        <span class="price">$2,199.00</span>
                                                                    </p>
                                                                    <!-- END PRICE     -->

                                                                    <p class="des-product">Casual yet always capable. The Giant Roam Disc is built for multi-purpose adventure, so you can follow your own route, wherever it takes you. With its confident, flat handlebar positioning and lightweight ALUXX aluminum frame, Roam Disc gives you all...</p>
                                                                    <!-- VARIANT PRODUCT -->

                                                                    <nav class="engoj_select_color">












        <span class="">
          <a class="circle" href="javascript:void(0)"  style="background-color: lightblue;"></a>
        </span>















                                                                        <span class="">
          <a class="circle" href="javascript:void(0)"  style="background-color: steelblue;"></a>
        </span>











                                                                        <span class="">
          <a class="circle" href="javascript:void(0)"  style="background-color: black;"></a>
        </span>

























































                                                                    </nav>


                                                                    <!-- END VARIANT     -->

                                                                    <!--     ICON PRODUCT -->



                                                                    <div class="product-icon-action">
                                                                        <div class="add-wishlist">

                                                                            <a href="../account/login.html" class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">

                                                                                <i class="fa fa-heart-o "></i>
                                                                            </a>

                                                                        </div>

                                                                        <div class="add-to-cart">

                                                                            <a href="best-seller/products/giant-roam-3.html" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="View more">
                                                                                <i class="ti-close"></i>
                                                                            </a>

                                                                        </div>

                                                                        <div class="quick-view">
                                                                            <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="giant-roam-3" data-toggle="tooltip" data-placement="top" data-original-title="Quickview">
                                                                                <i class="ti-search"></i>

                                                                            </a>
                                                                        </div>

                                                                    </div>
                                                                    <!--     END ICON -->

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>






    </div>




{% endblock %}
